@model HealthCatalystTest.Models.UserInformationModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h2>Add User</h2>
</div>
<div class="row">
    <div class="random_users">
        <form>
            <label for="generate_number_random">Generate random users</label><input type="number" name="number_random_users"/><button>Generate</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="create_user">
    </div>
</div>
<div class="row">
    <div class="remove_users">
        <form>
            <button>Remove all Users</button>
        </form>
    </div>
</div>

<div class="row">
    <form>

    </form>
</div>

<script>
    
    $(function () {
        $('.remove_users').on('submit', 'form', function (e) {
            e.preventDefault();

            $.post('/AddUsers/RemoveAll', $(this).serialize())
            .done(function (data) {
            }
            .fail(function (response) {
                $("#search-message").removeClass('hidden').addClass('fail').html(JSON.parse(response));
            })
            )
        })
    });

    $(function () {
        $('.random_users').on('submit', 'form', function (e) {
            e.preventDefault();

            $.post('/AddUsers/Random', $(this).serialize())
            .done(function (data) {
            }
            .fail(function (response) {
                $("#search-message").removeClass('hidden').addClass('fail').html(JSON.parse(response));
            })
            )
        })
        });
</script>