@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<p class="lead">Sample application which:</p>
<ul>
    <li>Accepts search input in a text box</li>
    <li>Displays in a pleasing style a list of people where any part of their first or last name matches what was typed in the search box</li>
    <li>Displaying at least name, address, age, interests, and a picture</li>
</ul>
<h2>Features</h2>
<ul>
    <li>Generate users in the "Add Users"" page (see top link).  You can generate alot of users (no pictures), a single user with all fields (including picture) as well as delete all users</li>
    <li>Simulate slow response by setting break point in HomeController.Search</li>
    <li>By default, each search term is treated as a separate search term, and each term is "normalized" to lower case</li>
    <li>Strict results either searchs for exact match (just one term) or exact First Name and Last Name match.  This search is case sensitive</li>
    <li>Results are ordered by last name</li>
</ul>
