@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p class="lead">Sample application which:</p>
<ul>
    <li>Accepts search input in a text box</li>
    <li>Displays in a pleasing style a list of people where any part of their first or last name matches what was typed in the search box</li>
    <li>Displaying at least name, address, age, interests, and a picture</li>
</ul>
