@model HealthCatalystTest.Models.UserInformationModel
@{
    ViewBag.Title = "Main Page";
}


<div class="row">
    <h1>User Search Sample Application</h1>
</div>

<div class="row">
    <div class="search-input">
        <form id="search_input">
            <label for="seach_input">First Name: </label><input type="text" id="seach_input" name="search_criteria" />
            <button>Search</button>
        </form>
    </div>
</div>

<div class="row">
    <div id="search-message" class="hidden"></div>
    <div class="results">
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Interests</th>
                <th>Picture</th>
            </tr>
            <tbody id="search-data">

            </tbody>
        </table>
    </div>

</div>

<script>
    $(function () {
        $('.search-input').on('submit', 'form', function(e){
            e.preventDefault();

            var queryValue = $('#seach_input').val();
            var queryParam = "search_criteria=" + queryValue;

            //Remove previous data (if any)
            $("#search-data").empty();

            //Display waiting message
            $("#search-message").removeClass('hidden').addClass('waiting').html('Waiting for results');

            $.get('/Home/Search?'+queryParam)
            .done(function (data) {
                $("#search-message").addClass('hidden');
                processResults(data);
            })
            .fail(function (response) {
                $("#search-message").removeClass('hidden').addClass('fail').html(JSON.parse(response));
            })
        })
    });

    function processResults(resultData) {
        $.each(resultData, function (i, userResult)
        {
            var userFirstName = userResult["FirstName"];
            var userLastName = userResult["LastName"];
            var userAge = userResult["Age"];
            var userAddress = userResult["Address"];
            var userMarkup = "<tr><td>" + userFirstName + "</td><td>" + userLastName 
                + "</td><td>" + userAge + "</td><td>" + userAddress 
                + "</td><td>" + "na" + "</td><td>" + "na" + "</td></tr>";
            $("#search-data").append(userMarkup);
        });
        
    }
</script>