@model HealthCatalystTest.Models.UserInformationModel
@{
    ViewBag.Title = "Main Page";
}


<div class="row">
    <h1>User Search Sample Application</h1>
</div>

<div class="row">
    <div class="search-input">
        <div id="search-message" class="hidden"></div>
        <form id="search_input">
            <label for="seach_input">First Name: </label><input type="text" id="seach_input" name="search_criteria" />
            <button>Search</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="results"></div>

</div>

<script>
    $(function () {
        $('.search-input').on('submit', 'form', function(e){
            e.preventDefault();

            $("#search-message").removeClass('hidden').html('Done');

            $.post('/Home/Search', $(this).serialize())
            .done(function (data) {
                $("#search-message").removeClass('hidden').addClass('success').html('Done');
                $(".results").html(data);
            }
            .fail(function (response) {
                $("#search-message").removeClass('hidden').addClass('fail').html(JSON.parse(response));
            })
            )
        })
        });
</script>